
.row{
  display: flex;
  flex-direction: row;
}

.bar-strip{
  margin: 0px 2px;
  width: 8px;
  background-color: lightcoral;
  border-radius: 5px;
}

.margin{
  margin: 10px 0px;
}

.button-margin{
  margin: 0px 10px;
}